<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ report_name }}</title>
    <style>
    body {
        font-family: "DejaVu Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa;
        color: #212529;
    }

    .widget {
        margin-bottom: 40px;
        /* page-break-inside: avoid; удалено */
    }
</style>


</head>
<body>

<div class="container">
    <h1>Custom PDF Report</h1>

    {% if include_disclaimer %}
        <div class="alert alert-warning disclaimer">
            <strong>Disclaimer:</strong><br>
            {{ disclaimer|safe }}
        </div>
    {% endif %}

    {% for widget in widgets %}
        <div class="widget">
             {{ widget.get_html }}
        </div>
    {% endfor %}
</div>

</body>
</html>

